//Comment this if you don't want battery checking support.
#define FEATURE_BATTERY


//If you want to define a custom hardware type, change the LED_CONFIG macro.

//If you have a NodeMCU or Wemos board, use the raw pin numbers.
//Don't use the pin numbers that are written on the board.
//For example, instead of D1, write 5.
//Here's the mapping: http://rldn.net/3go

//Example for APA102 (the first number is the data pin, second number is clock pin):
//#define LED_CONFIG APA102, 0, 2, BGR

//Example for NeoPixels (the number is the data pin):
//#define LED_CONFIG NEOPIXEL, 4

#define LED_CONFIG WS2811, 5, RGB
